

.carusel-item {
    flex: 1;
    
    background: orange;

    .carusel_container & {
        padding: 2rem;

        &:not(:first-child) {
            padding-left: 0;
        }
    }

    &__image {
        font-size: 2rem;
        text-indent: .75rem;
        color: #fff;

        width: 15rem;
        height: 15rem;
    }
}