

.carusel-item {
    flex: 1;

    .carusel_container & {
        padding-right: 2rem;

        &:first-child {
            padding-left: 2rem;
        }
    }

    &__image {
        font-size: 2rem;
        text-indent: .75rem;
        color: #fff;

        width: 15rem;
        height: 15rem;
    }
}